.containerProducts{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.containerWrapper{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 200vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.BackgroundS1{
    background: #2F3FB7;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60.8%, 0% 84.3%);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.productContainer{
    width: 100%;
    margin-top: 0vh;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textHDContainerProduct{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.textHDContainerProduct > h1{
    font-family: 'Antique';
    text-transform: uppercase;
    color: #fff;
    font-size: 150px;
    rotate: -5deg;
}
.textHDContainerProduct > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    rotate: -5deg
}
.textHDContainerProduct > div > h3{
    font-family: 'Antique';
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
}
.lineImg{
    width: 250px;
}
.imgProducts{
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.productImgSac{
    width: 100%;
    margin-left: 15%;
    max-width: 550px;
}
.myLogoOnProduct{
    position: absolute;
    margin-top: -5%;
    margin-left: -3%;
    transform: skew(-3deg, -5deg);
    width: 150px;
    max-height: 150px;
}
/*Product Details Section*/

.productDetails{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.productDetails > button{
    color: #fff;
    font-size: 25px;
    font-family: "Antique";
    text-transform: uppercase;
    background: #2F3FB7;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: inset 0px 3px 5px #202b79;
    transition: 0.3s all ease-in-out;
}
.productDetails > button:hover{
    background: #FF3F65;
    box-shadow: inset 0px 3px 5px #d23453;
}
.colorSwitchContainer{
    margin-top: 15px;
    color: #000;
    font-family: 'Antique';
    width: 250px;
    border-radius: 20px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.colorSwitchContainer > button{
    padding: 5px 15px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #000;
    color: #fff;
    transition: 0.3s all ease-in-out;
}
.colorSwitchContainer > button:hover{
    background: #2F3FB7;
    box-shadow: inset 0px 3px 5px #202b79;
}
.colorSwitchContainer > button.active{
    background: #FF3F65;
    box-shadow: inset 0px 3px 5px #d23453;
}

.dimensionsContainer{
    margin-top: 15px;
}
.dimenionsBTN{
    color: #fff;
    font-size: 23px;
    font-family: "Antique";
    text-transform: uppercase;
    background: #373737;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: inset 0px 3px 5px #212121;
}
.dimensionsDetails{
    margin-top: 5px;
    font-family: "Antique";
    background: #373737;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.dimensionsDetails > hr{
    background-color: #fff!important;
    stroke: #fff;
    height: 2px;
}
.CommandBTN{
    color: #fff;
    margin-top: 20px;
    font-size: 23px;
    font-family: "Antique";
    text-transform: uppercase;
    background: #FF3F65;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: inset 0px 3px 5px #d23453;
}