.mainContainerAccueil{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
.LogoMainPage{
    width: 100%;
    max-width: 700px;
    height: auto;
}