/*Hero Section*/
body{
    background: #E8EBFA!important;
}
.heroSection{
    position: relative;
    top: 85px;
}
.carouselWrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.carouselElement{
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    font-family: 'Arnel';
    text-transform: uppercase;
    color: #29548E;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.carouselElementText > h1{
    font-size: 150px;
}
.carouselElementText > h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    line-height: 0.3;
    font-size: 200px;
}
.carouselElementText > h2 > span{
    color: #73B2F0;
}
.carouselElementText > h2 > img{
    width: 20px;
}
.carouselElementImage{
    margin-top: -80px;
}

/* Top Vente Section*/
.topVenteSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.TPHeaderText{
    width: 100%;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.TPHeaderText > h1{
    text-align: center;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: "Arnel";
    flex-direction: row;
    width: 100%;
    background: #29548E;
    box-shadow: 0px 2px 5px 3px #000;
    font-size: 100px;
}
.TPHeaderText > p{
    text-align: center;
    display: flex;
    font-family: "Gexo Bold";
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    margin-top: -7px;
    width: 100%;
    background: #606777;
    font-size: 30px;
}


.topVenteProduits{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.productCard{
    width: auto;
    overflow: hidden;
    padding: 15px;
    cursor: pointer;
    display: flex;
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.productCard:hover .blueEllipse {
    transform: scale(4);
    transition: transform 0.7s ease;
  }
.productTopPart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.productImage{
    position: relative;
    z-index: 2;
    width: 300px;
    height: auto;
}
.blueEllipse{
    position: relative;
    margin-top: -150%;
    z-index: 1;
    width: 220px;
    transition: transform 0.3s ease;
}
.productDetails{
    position: relative;
    color: #29548E;
    z-index: 2;
    font-family: 'Gexo';
}
.productDetails h1{
    font-family: 'Gexo Bold';
    text-transform: uppercase;
    font-size: x-large;
}
.productDetails p{
    font-size: larger;
    font-family: 'Gexo Light';
}
.productDetails h4{
    font-size: x-large;
    font-family: 'Montserrat';
}
.productTags{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.productDetails span{
    text-transform: uppercase;
    vertical-align: middle;
    font-size: x-small;
    background: #606777;
    color: #fff;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 2px;
    font-family: 'Gexo Bold';
}
.productButton{
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.productButton a{
    background: #29548E;
    color: #fff;
    border-radius: 15px;
    font-family: "Gexo Bold";
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px;
}


  /* Nu este necesar să mai folosiți :hover aici, deoarece clasa este adăugată/eliminată din JavaScript */
  
.productPrix{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    display: flex;
    width: 95px;
    height: 95px;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Anton';
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    align-items: center;
    background-image: url(../img/Prix.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.productPrix h1{
    margin-left: 5px;
    font-size: 55px;
}
.productPrix span{
    width: 100%;
    font-size: 30px;
}
.productPrix p{
    margin-top: -5px;
    margin-left: -3px;
    font-size: 15px;
}