/*Hero Section*/
body{
    background: #E8EBFA!important;
}
.mainContainerAccueil{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
.mainContainerOverlay{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: #2F3FB7!important;
    clip-path: polygon(0% 0%, 100% 0%, 100% 58.8%, 0% 84.8%);
}
.LogoMainPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogoMainPage > img{
    width: 100%;
    max-width: 600px;
    height: auto;
}
.heroSacsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.SacsContainer {
    position: relative;
    z-index: 1;
}
.SacsContainer > img{
    width: 100%;
    max-width: 700px;
}
.redBlobAnim{
    position: absolute;
    z-index: 0;
    width: 100%;
    left: -10%;
    max-width: 500px;
    animation: rotating 20s infinite linear;
}
@keyframes rotating {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

/* Boutique Lien Section*/
.boutiqueTittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Antique';
}
.boutiqueTittle > h1{
    color: #2F3FB7;
    font-size: 70px;
}
.boutiqueTittle > span {
    color: #fff;
    font-size: 35px;
    padding: 5px 15px;
    border-radius: 20px;
    background: #FF3F65;
    box-shadow: inset 0px 3px 5px #d23453;
}
.boutiqueProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.productCard {
    display: flex;
    background: #fff;
    color: #232e80;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Antique';
    border-radius: 20px;
    padding: 0px 0px 15px 0px;
    justify-content: center;
    transition: 0.3s all ease-in-out;
}
.productCard:hover{
    background: #2F3FB7;
    color: #fff;
    box-shadow: 0px 3px 10px 2px #2F3FB7;
}
.productCard > h1{
    font-size: 50px;
}
.productCard > p{
    font-size: 18px;
}
.productCard > a{
    text-align: center;
    background: #FF3F65;
    box-shadow: inset 0px 3px 5px #d23453;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
}
.productCard > img{
    max-width: 300px;
    width: 100%;
}
