@font-face {
    font-family: "Antique";
    src: url(../fonts/AntiqueOliNorDReg.ttf);
  }
  .placeholder-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      padding-left: 15vw;
      padding-right: 15vw;
    }
  
    .placeholder-title h1 {
      font-size: 6vw;
      color: #333;
      font-weight: 500;
      text-align: center;
    }
  
    /* Header start */
  
    header {
      position: fixed;
      z-index: 999999;
      left: 0;
      top: 0;
      width: 100%;
    }
  
    .header-row {
      padding: 40px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .menu-toggle {
      background: #4755BF;
      margin-top: -10px;
      margin-right: -10px;
      padding: 10px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
  
    .hamburger path {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
    }
    .fullpage-menu {
      position: fixed;
      z-index: 999998;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      display: none;
    }
    .fullpage-menu-inner {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 100px 60px;
    }
    .menu-bg {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .menu-bg span {
      height: 100%;
      width: 100%;
      background: #000;
      display: block;
    }
  
    nav {
      position: relative;
      z-index: 10;
    }
  
    nav ul {
      list-style-type: none;
    }
    nav li {
      overflow: hidden;
      transition: transform 300ms ease-in-out 0s;
    }
    nav li + li {
      margin-top: 20px;
    }
    nav li a {
      font-size: 100px;
      font-family: "Antique";
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
      display: inline-block;
      line-height: 1;
    }
  
    nav li:hover {
      transform: translateX(50px);
    }
    .header-nav-footer {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 60px;
    }
    .social-links {
      color: #fff;
      list-style-type: none;
      display: flex;
      align-items: center;
      width: 100%;
    }
    .social-links li {
      font-size: 15px;
      font-weight: 500;
    }
    .brand-logo img {
      width: 100px;
    }
    .social-links li + li {
      margin-left: 17px;
    }
    .social-links li:last-child {
      margin-left: auto;
    }
    .social-links a {
      color: #ffffff;
      font-size: 30px;
      text-decoration: none;
    }
    .copyrightPart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .navLinkBoutique{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: larger;
      flex-direction: row;
      font-weight: 400;
      font-family: 'Antique';
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      background-color: #373737;
      box-shadow: inset 0px 3px 5px #212121;
      padding: 5px 10px;
      border-radius: 20px;
      transition: 0.3s all ease-in-out;
    }
    .navLinkBoutique:hover{
      background: #FF3F65;
      box-shadow: inset 0px 3px 5px #d23453;
    }

    @media screen and (max-width: 767px) {
      .header-row,
      .header-nav-footer {
        padding: 30px;
      }
      .fullpage-menu-inner {
        padding: 70px 30px;
      }
      nav li a {
        font-size: 54px;
      }
      .social-links li {
        font-size: 16px;
      }
    }
  